[Unit]

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/app/bin
WorkingDirectory=/app
User=wild
Restart=always
RestartSec=5
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=%n